body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 150%;
    color: burlywood;
    background: whitesmoke;
}

header {
    background: blue;
}

h1 {
    padding: 24px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    color: greenyellow;
    text-align: left;
}

h2 {
    font-size: 20px;
}

contact {
    background: whitesmoke;
    width: 30%;
}

image {
     width: 200px;
     height: 200px;
     margin-right: 20px;
}